body {
    background-color: black;
}
.name {
    color: #767676;
    
}
.gaga {
    color: #767676;
    
}
.et {
    color: #FFFFFF;

}
.hex {
    color: #767676;
}
.eng {
    color: #FFFFFF;
}
.nan {
    color: #767676;
}
.sin {
    color: #767676;
}
.sim {
    color: #FFFFFF;
}
.nam {
    color: #767676;
}
.moon {
    color: #FFFFFF;
}